swagger: "2.0"
info:
  description: "HCM API documentation."
  version: "1.22"
  title: "HCM"
host: "admin.int.healthcaremgr.net"
basePath: "/admin/Dashboard"
schemes:
- "https"
- "http"
paths: 
  /get_user_details:
    post:
      summary: "Get details of a member/user"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: "object"
              properties:
                AdminId:
                  type: integer
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/user"
              status:
                type: boolean 
        "500":
          description: "Server error"
  /get_user_login_history_list:
    post:
      summary: "Get the list of login history"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                user_id:
                  type: integer
                  example: 1
                page:
                  type: integer
                  example: 0
                pageSize:
                  type: integer
                  example: 9999
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/user_list"
              status:
                type: boolean 
        "500":
          description: "Server error"
  /get_user_statuses:
    post:
      summary: "Returns arrays of application and status label and values"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                token: 
                  type: string
                  example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        200:
          description: "OK"
          schema:
            type: array
            items:
              $ref: "#/definitions/tupple"
  /get_module_names:
    post:
      summary: "Get the list of modules"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            token: 
              type: text
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/tupple"
              status:
                type: boolean 
        "500":
          description: "Server error"
  /get_module_objects:
    post:
      summary: "Get the list of module objects of a given module"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: "object"
              properties:
                module_id:
                  type: integer
            token: 
              type: text
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/module_object_list"
              status:
                type: boolean 
        "500":
          description: "Server error"
  /create_update_access_role:
    post:
      summary: "Creating or updating access role"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                id: 
                  type: integer
                name: 
                  type: string
                module_objects_list:
                  $ref: "#/definitions/module_object_list"
            token: 
              type: text
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successful creating/updating of access role"
          schema:
            type: object
            properties:
              msg: 
                type: string
                example: 'Access role has been created successfully.'
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /archive_access_role:
    post:
      summary: "Archiving access role"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                id: 
                  type: integer
            token: 
              type: text
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successful archiving of access role"
          schema:
            type: object
            properties:
              msg: 
                type: string
                example: 'Access role has been deleted successfully.'
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /get_access_roles_list:
    post:
      summary: "Get the list of access roles"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                page:
                  type: integer
                pageSize:
                  type: integer
                sorted:
                  type: object
                  properties:
                    column:
                      type: string
                    value:
                      type: string
            token: 
              type: text
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/roles_list"
              status:
                type: boolean 
        "500":
          description: "Server error"
definitions:
  time:
    type: string
    pattern: /([0-9]{2}):(?:[0-9]{2}) ([(AM)(PM)])/
    example: "HH:MM AM/PM" 
  date:
    type: string
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
    example: "2019-05-17"
  datetime:
    type: string
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2}) (\d{2}):(\d{2}):(\d{2})/
    example: "2019-05-17 00:00:00"
  module_object_list:
    type: object
    properties:
      id:
        type: integer
      name:
        type: text
      module_id: 
        type: integer
      module_name: 
        type: string
      role_id:
        type: integer
      archive:
        type: integer
      created:
        type: datetime
      created_by:
        type: integer
      updated:
        type: datetime
      updated_by:
        type: integer
      read_access:
        type: integer
      create_access:
        type: integer
      edit_access:
        type: integer
      delete_access:
        type: integer
  roles_list:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      created:
        type: datetime
      created_by:
        type: integer
      created_by_label:
        type: string
  user_list:
    type: object
    properties:
      actions:
        type: string
      login_time:
        $ref: "#/definitions/datetime"
      login_url:
        type: string
      application:
        type: integer
      application_label:
        type: string
      status_id:
        type: integer
      status_label:
        type: string
      country:
        type: string
      ip_address:
        type: string
  user:
    type: object
    properties:
      EmailInput:
        type: object
        properties:
          name: 
            type: string
          primary_email:
            type: integer
      PhoneInput:
        type: object
        properties:
          phone:
            type: string
          primary_email:
            type: integer
      created:
        $ref: "#/definitions/datetime"
      department:
        type: integer
      firstname:
        type: string
      fullname:
        type: string
      lastname:
        type: string
      its_super_admin:
        type: integer
      id:
        type: integer
      user_type:
        type: string
      position:
        type: integer
      username:
        type: string
  tupple:
    type: object
    properties:
      label:
        type: string
      value:
        type: integer