swagger: "2.0"
info:
  description: "HCM API documentation."
  version: "1.24"
  title: "HCM"
host: "admin.int.healthcaremgr.net"
basePath: "/recruitment/Recruitment_member"
schemes:
- "https"
- "http"
paths:
  /get_time_slots_half_hour:
    post:
      summary: "Returns Array of 30 Minutes Time Slots"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            applicant_id:
              type: integer
              example: 110
            member_id: 
              type: integer
              example: 23
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Get time series in half an hour duration"
          schema:
            type: object
            properties:
              data: 
                type: array
                items:
                  type: string  
                  example: "['00:00','00:30','01:00']"
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /get_member_unavailability_details:
    post:
      summary: "Get Details of a Member Unavailability"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            applicant_id:
              type: integer
              example: 110
            member_id: 
              type: integer
              example: 23
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
            id:
              type: integer
              example: 23
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/member_unavailability"
              status:
                type: boolean 
        "500":
          description: "Server error"
  /get_unavailability_type_data:
    post:
      summary: "Returns Array of Unavailability Types from Refrence Data"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            applicant_id:
              type: integer
              example: 110
            member_id: 
              type: integer
              example: 23
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        200:
          description: "OK"
          schema:
            type: array
            items:
              $ref: "#/definitions/tupple"
  /get_member_unavailability_list:
    post:
      summary: "Get the list of all member unavailability"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            applicant_id:
              type: integer
              example: 110
            member_id: 
              type: integer
              example: 23
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
            page:
              type: integer
              example: 0
            pageSize:
              type: integer
              example: 9999
      responses:
        "200":
          description: "successful operation"
          schema:
            properties:
              data:
                $ref: "#/definitions/member_unavailability_list"
              status:
                type: boolean 
        "500":
          description: "Server error"
  /archive_member_unavailability:
    post: 
      summary: "Delete a Member Unavailability"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            applicant_id:
              type: integer
              example: 110
            member_id: 
              type: integer
              example: 23
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
            id:
              type: integer
              example: 23
      responses:
        "200":
          description: "successful operation"
          schema:
            type: object
            properties:
              msg:
                type: string
              status:
                type: boolean
  /create_update_member_unavailability:
    post:
      summary: "Creating the member unavailability"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            applicant_id:
              type: integer
              example: 110
            member_id: 
              type: integer
              example: 23
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
            id:
              type: integer
              example: 23
            start_date: 
              $ref: "#/definitions/date"
            end_date: 
              $ref: "#/definitions/date"
            start_time_id:
              type: integer
              example: 1
            end_time_id:
              type: integer
              example: 1
            type_id: 
              type: integer
              example: 1
      responses:
        "200":
          description: "Creating the list view control"
          schema:
            type: object
            properties:
              msg: 
                type: string
                example: 'Member unavailability has been created successfully.'
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"

definitions:
  date:
    type: string
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
    example: "2019-05-17"
  datetime:
    type: string
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2}) (\d{2}):(\d{2}):(\d{2})/
    example: "2019-05-17 00:00:00"
  member_unavailability_list:
    type: object
    properties:
      actions:
        type: string
      start_date:
        $ref: "#/definitions/datetime"
      end_date:
       $ref: "#/definitions/datetime"
      id:
        type: integer
      member_id:
        type: integer
      type_id:
        type: integer
      unavailability_type:
        type: string
  member_unavailability:
    type: object
    properties:
      archive:
        type: integer
      created:
        $ref: "#/definitions/datetime"
      created_by:
        type: integer
      end_date:
        $ref: "#/definitions/datetime"
      end_time_id:
        type: integer
      id:
        type: integer
      label:
        type: string
      member:
        type: object
        properties:
          label:
            type: string
          value: 
            type: integer
      member_id:
        type: integer
      start_date:
        $ref: "#/definitions/datetime"
      start_time_id:
        type: integer
      type_id:
        type: integer
      updated:
        $ref: "#/definitions/datetime"
      updated_by:
        type: integer
  tupple:
    type: object
    properties:
      label:
        type: string
      value:
        type: integer