swagger: "2.0"
info:
  description: "HCM API documentation."
  version: "1.22"
  title: "HCM"
host: "admin.int.healthcaremgr.net"
basePath: "/sales/Contact"
schemes:
- "https"
- "http"
paths:
  /get_contact_list:
    post:
      summary: "List all Contacts"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: "object"
              properties:
                filtered:
                  type: "object"
                  properties:
                    filter_status:
                      type: "string"
                      enum:
                      - "all"
                page:
                  type: "integer"
                pageSize:
                  type: "integer"
                sorted:
                  type: "array"
                  items:
                    type: "string"
                    enum:
                      - "All"
                      - "1"
                    default: "All"
      security:
        - api_key: []
      responses:
        "200":
          description: "List of Contacts"
          schema:
            type: object
            properties:
              count:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    contact_code:
                      type: string
                    created:
                      $ref: '#/definitions/datetime'
                    created_by:
                     type: string
                    fullname:
                      type: string
                    id:
                      type: integer
                    status:
                      type: string
                    type:
                      type: string
              status:
                type: boolean
              total_item:
                type: integer
        "500":
          description: "Server error"
  /get_option_for_create_contact:
    post:
      summary: "Get Option for Adding a New Contact"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: "object"
      security:
        - api_key: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  contact_type_option:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        value:
                          type: string
                  stateList:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        value:
                          type: integer
              status:
                type: boolean
        "500":
          description: "Server error"
  /create_update_contact:
    post:
      summary: "Create/Update a contact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                EmailInput:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                PhoneInput:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      phone:
                        type: string
                aboriginal:
                  type: integer
                address:
                  type: string
                callAjax:
                  description: "Flag for Ajax call"
                  type: string
                communication_method:
                  type: integer
                contactId:
                  type: integer
                contact_type:
                  type: integer
                contact_type_option:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      value:
                        type: integer
                cultural_practices:
                  type: string
                date_of_birth:
                  $ref: '#/definitions/date'
                email:
                  type: array
                  items:
                    type: string
                firstname:
                  type: string
                isFetching: 
                  type: boolean
                lastname:
                  type: string
                loading:
                  type: boolean
                ndis_number: 
                  type: string
                original_ndis_number: 
                  type: string
                redirectPage: 
                  type: boolean
                religion: 
                  type: string
                source_option: 
                  type: array
                  items:
                    type: string
                stateList: 
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      value:
                        type: integer
                status: 
                  type: integer
            pin:
              type: string
            token:
              type: string
      responses:
        200:
          description: "OK"
          schema:
            type: object
            properties:
              status: 
                type: boolean
              msg: 
                type: string
                example: "Contact has been updated successfully"
  /archive_contact:
    post: 
      summary: "Delete a Contact"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: "object"
              properties:
                id:
                  type: "string"
            pin:
              type: "string"
            token:
              type: "string"
      responses:
        200:
          description: "OK"
  /get_selectedfilter_contacts:
    post: 
      summary: "Filter Contact List"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: "object"
              properties:
                filter_logic: 
                  type: string
                filter_operand_length: 
                  type: integer
                page: 
                  type: integer
                pageSize: 
                  type: integer
                tobefilterdata: 
                  type: array
                  items:
                    type: object
                    properties:
                      select_filter_field: 
                        type: string
                      select_filter_field_val: 
                        type: string
                      select_filter_operator: 
                        type: string
                      select_filter_operator_sym: 
                        type: string
                      select_filter_value: 
                        type: string
                      selectedfield_sort: 
                        type: integer
            pin:
              type: "string"
            token:
              type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  contact_code: 
                    type: string
                  created: 
                    $ref: "#/definitions/datetime"
                  created_by:  
                    type: string
                  fullname:  
                    type: string
                  id:  
                    type: integer
                  status:  
                    type: string
                  type:  
                    type: string
              status:
                type: boolean
              total_item:
                type: integer
    
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "pin"
    in: "query"
definitions:
  date:
    type: string
    format: date
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
    example: "2019-05-17"
  datetime:
    type: string
    format: date-time
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2}) (\d{2}):(\d{2}):(\d{2})/
    example: "2019-05-17 00:00:00"