swagger: "2.0"
info:
  description: "HCM API documentation."
  version: "1.22"
  title: "HCM"
host: "admin.int.healthcaremgr.net"
basePath: "/schedule/ScheduleDashboard"
schemes:
- "https"
- "http"
paths: 
  /calculate_shift_duration:
    post:
      summary: "Calculating shift duration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                actual_end_date: 
                  $ref: '#/definitions/date'
                actual_end_time: 
                  $ref: '#/definitions/time'
                actual_start_date: 
                  $ref: '#/definitions/date'
                actual_start_time: 
                  $ref: '#/definitions/time'
                scheduled_end_date: 
                  $ref: '#/definitions/date'
                scheduled_end_time: 
                  $ref: '#/definitions/time'
                scheduled_start_date: 
                  $ref: '#/definitions/date'
                scheduled_start_time: 
                  $ref: '#/definitions/time'
                scheduled_rows:
                  type: array
                  items:
                    $ref: "#/definitions/break_row"
                actual_rows:
                  type: array
                  items:
                    $ref: "#/definitions/break_row"
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successful calculating of shift duration"
          schema:
            type: object
            properties:
              data: 
                type: string
                example: HH:MM
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /calculate_break_duration:
    post:
      summary: "Calculating break duration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                break_start_time: 
                  $ref: '#/definitions/time'
                break_end_time: 
                  $ref: '#/definitions/time'
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successful calculating of duration"
          schema:
            type: object
            properties:
              data: 
                type: string
                example: HH:MM
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /create_update_shift:
    post:
      summary: "Creating or updating a shift"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                account_id: 
                  type: integer
                account_type: 
                  type: integer
                actual_end_date: 
                  $ref: '#/definitions/date'
                actual_end_time: 
                  $ref: '#/definitions/time'
                actual_start_date: 
                  $ref: '#/definitions/date'
                actual_start_time: 
                  $ref: '#/definitions/time'
                actual_travel: 
                  type: integer
                contact_id: 
                  type: integer
                description: 
                  type: string
                id: 
                  type: integer
                notes: 
                  type: string
                owner_id: 
                  type: integer
                repeat_days_selected:
                  type: object
                  properties:
                      date: 
                        $ref: '#/definitions/date'
                repeat_option: 
                  type: integer
                role_id: 
                  type: integer
                scheduled_end_date: 
                  $ref: '#/definitions/date'
                scheduled_end_time: 
                  $ref: '#/definitions/time'
                scheduled_start_date: 
                  $ref: '#/definitions/date'
                scheduled_start_time: 
                  $ref: '#/definitions/time'
                scheduled_travel: 
                  type: integer
                scheduled_rows:
                  type: array
                  items:
                    $ref: "#/definitions/break_row"
                actual_rows:
                  type: array
                  items:
                    $ref: "#/definitions/break_row"
                shift_no: 
                  type: string
                status: 
                  type: integer
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successful creating/updating of a shift"
          schema:
            type: object
            properties:
              msg: 
                type: string
                example: 'Shift has been created successfully.'
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /get_copy_shift_intervals:
    post:
      summary: "Fetching the list of weekly intervals for given number of shifts"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                shifts: 
                  type: array
                  items:
                    type: string
                  example: {"299","256"}
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successfully fetched the list"
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/definitions/weekly_selection"
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
  /copy_shift_weekly_intervals:
    post:
      summary: "Copying selected shifts into multiple weeks"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request_data"
        description: ""
        required: true
        schema:
          type: object
          properties:
            data:
              type: object
              properties:
                shifts: 
                  type: array
                  items:
                    type: string
                  example: {"299","256"}
                weeks_list_selected: 
                  type: array
                  items:
                    type: string
                  example: {"2020-11-02","2020-11-09"}
            token: 
              type: string
              example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IlByYW5hdi5HYWpqYXJAYW1waW9uLmNvbS5hdTIwMjAtMTAtMjAgMTA6MDE6MDIi
      responses:
        "200":
          description: "Successful copying of shifts"
          schema:
            type: object
            properties:
              msg: 
                type: string
                example: 'Shift has been copied successfully.'
              status: 
                type: boolean
                example: true
        "500":
          description: "Server error"
definitions:
  break_row:
    type: object
    properties:
      id:
        type: integer
      break_duration:
        type: integer
      break_start_time:
        $ref: '#/definitions/time'
      break_end_time:
        $ref: '#/definitions/time'
      break_type:
        type: integer
      duration_disabled:
        type: boolean
      timing_disabled:
        type: boolean
  time:
    type: string
    pattern: /([0-9]{2}):(?:[0-9]{2}) ([(AM)(PM)])/
    example: "HH:MM AM/PM" 
  date:
    type: string
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
    example: "2019-05-17"
  datetime:
    type: string
    pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2}) (\d{2}):(\d{2}):(\d{2})/
    example: "2019-05-17 00:00:00"
  weekly_selection:
    type: object
    properties:
      id:
        type: integer
      week:
       $ref: '#/definitions/date'